<div class="box-container">
    <div class="app-title">Simple example app for the ngx-perfect-scrollbar</div>

    <div class="info-container">
        You can change the type and control the Perfect Scrollbar element by clicking the buttons on the controls pane.
    </div>

    <div class="horizontal-container">
        <div class="vertical-container">
            <div class="box-title">Controls</div>

            <div class="action-container">
                <div class="action-button" (click)="toggleType()">
                    {{ type == 'component' ? 'Switch to directive' : 'Switch to component' }}
                </div>

                <div class="action-button" (click)="scrollToTop()">Scroll to top</div>

                <div class="action-button" (click)="scrollToLeft()">Scroll to left</div>

                <div class="action-button" (click)="scrollToRight()">Scroll to right</div>

                <div class="action-button" (click)="scrollToBottom()">Scroll to bottom</div>

                <div class="action-button" (click)="scrollToXY(25, 50)">Animate to 25,50</div>
            </div>
        </div>

        <div class="vertical-container">
            <div class="box-title">Perfect Scrollbar</div>

            <div class="content-container">
                @if (type === 'component') {
                <perfect-scrollbar
                    class="scroll-container"
                    [config]="config"
                    [scrollIndicators]="true"
                    (psXReachEnd)="onScrollEvent($event)"
                    (psYReachEnd)="onScrollEvent($event)"
                    (psXReachStart)="onScrollEvent($event)"
                    (psYReachStart)="onScrollEvent($event)"
                >
                    <div class="scrollable-content">
                        Scroll<br />
                        me!<br />
                        <br />
                        I<br />
                        am<br />
                        an<br />
                        example<br />
                        content<br />
                        text<br />
                        for<br />
                        this<br />
                        really<br />
                        cooooooooooooooooooooooooooooooooooooooooooooooooool<br />
                        scrollable<br />
                        area<br />
                        in<br />
                        this<br />
                        example<br />
                        app<br />
                        which<br />
                        is<br />
                        using<br />
                        the<br />
                        angular2<br />
                        perfect<br />
                        scrollbar<br />
                        library<br />
                    </div>
                </perfect-scrollbar>
                } @if (type === 'directive') {
                <div
                    class="scroll-container ps"
                    [perfectScrollbar]="config"
                    (psXReachEnd)="onScrollEvent($event)"
                    (psYReachEnd)="onScrollEvent($event)"
                    (psXReachStart)="onScrollEvent($event)"
                    (psYReachStart)="onScrollEvent($event)"
                >
                    <div class="scrollable-content">
                        Scroll<br />
                        me!<br />
                        <br />
                        I<br />
                        am<br />
                        an<br />
                        example<br />
                        content<br />
                        text<br />
                        for<br />
                        this<br />
                        really<br />
                        cooooooooooooooooooooooooooooooooooooooooooooooooool<br />
                        scrollable<br />
                        area<br />
                        in<br />
                        this<br />
                        example<br />
                        app<br />
                        which<br />
                        is<br />
                        using<br />
                        the<br />
                        angular2<br />
                        perfect<br />
                        scrollbar<br />
                        library<br />
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
